@CHARSET "ISO-8859-1";

html {
	font-family: Arial;
	font-size: 12px;	
	font-weight: normal;
}

.ui-panel-titlebar {
	font-size: 14 px;
	font-weight: bold;
}

.ui-panelgrid-cell label,
.ui-button-text {
	font-weight: bold;
}

.ui-panelgrid, 
.ui-panelgrid-cell {
	border: none !important;
}

div {
	border: none;
}

.ui-layout-north {
	height: 75px;
	font-weight: bold;
	font-size: 25px !important;
	text-align: center;
}

.ui-layout-north img {
	float: left;
}

.ui-layout-north label {
	vertical-align: middle;
}

.ui-menu,
.ui-widget-content {
	border: none !important;
}

.ui-layout-west {
	width: 172px !important;
}

.ui-layout-south {
	height: 22px;
	font-weight: bold;
	text-align: center;
}

.ui-layout-south .ui-layout-unit-content {
	height: 20px !important;
}

.ui-layout-west,
.ui-layout-south,
.ui-panel-titlebar,
.ui-panel,
.ui-datatable {
	border: 1px solid #e0e0e0 !important;
}

.ui-state-hover {
	background-color: #000080 !important;
	background-image: linear-gradient(to bottom, #000080, #000080) !important; 
}

.ui-paginator,
.ui-panel-titlebar {
	background-color: #000080;
	color: white;
	font-weight: bold;
}

div#menu {
	width: 170px;
}

div#header label {
	line-height: 80px;
}

.ui-button {
	width: 85px;
}

.ui-separator {
	background-color: black;
}