@CHARSET "ISO-8859-1";

html {
	font-family: Arial;
	font-size: 12px;	
	font-weight: normal;
}

.ui-panel-titlebar {
	font-size: 14 px;
	font-weight: bold;
}

.ui-panelgrid-cell label,
.ui-button-text {
	font-weight: bold;
}

.ui-panelgrid, 
.ui-panelgrid-cell {
	border: none !important;
}

div {
	border: none;
}

.ui-layout-north {
	height: 75px;
	font-weight: bold;
	font-size: 25px !important;
	text-align: center;
	border-bottom: 1px solid #1515ab !important;
}

.ui-layout-north img {
	float: left;
}

.ui-layout-north label {
	vertical-align: middle;
}

.ui-layout-west {
	width: 170px;
}

.ui-layout-south {
	height: 40px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #1515ab !important;
}

.ui-widget-content {
	border: none;
}

.ui-menu,
.ui-panel-titlebar,
.ui-panel,
.ui-datatable {
	border: 1px solid #1515ab !important;
}

.ui-paginator,
.ui-panel-titlebar {
	background-color: #1515ab;
	color: white;
	font-weight: bold;
}

div#menu {
	width: 170px;
}

div#header label {
	line-height: 80px;
}

.ui-button {
	width: 85px;
}